<footer class="footer p-0 footer-light bg-section-secondary" id="footer-main">
  <div class="container">
    <div class="py-4">
      <div class="row align-items-md-center">
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="d-flex align-items-center">
            <p class="text-sm mb-0">
              &copy; 2024
              <a href="#" target="_blank">Khushi Rawat</a>. All rights
              reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
