<div
  data-toggle="sticky"
  data-sticky-offset="30"
  data-negative-margin=".card-profile-cover"
  style="transition: all 0.5s ease-in-out"
>
  <div
    class="card card-profile"
    style="border: 5px solid black; border-radius: 10px"
  >
    <div class="card-profile-cover">
      <img
        alt="Image placeholder"
        src="<%= user.cover %>"
        class="card-img-top"
      />
    </div>
    <a href="/profile" class="mx-auto">
      <img
        alt="Image placeholder"
        src="<%= user.image %>"
        class="card-profile-image avatar rounded-circle shadow hover-shadow-lg"
      />
    </a>
    <div class="card-body p-3 pt-0 text-center">
      <h5 class="mb-0"><%= user.displayName %></h5>

      <% if(user.role === 0) { %>
      <span class="d-block text-muted mb-3">Creator</span>
      <% } else { %>
      <span class="d-block text-muted mb-3">Student</span>
      <% } %>

      <div class="actions mt-3 pt-3 px-5 delimiter-top">
        <p><%= user.about %></p>
      </div>
    </div>
  </div>
</div>
